.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }
  
  .admin-dashboard h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .admin-dashboard p {
    font-size: 24px;
    color: #666;
  }
  